body {
    background-color: #f5f5f5;
    font-size: 1.2rem;
}

.jd-layout {
    min-width: 30rem;
    max-width: 64rem;
    height: 100rem;
    margin: 0 auto;
    position: relative;
    /*background-color: red;*/
}

/* ================================================= 头部(搜索)开始 ================================================= */
.jd-header {
    width: 100%;
    height: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    /*background-color: green;*/
    z-index: 999;
}

.jd-header .jd-header-box {
    min-width: 30rem;
    max-width: 63rem;
    height: 4rem;
    background-color: transparent;
    margin: 0 auto;
    position: relative;
}

.jd-header .jd-header-box .icon-logo {
    background-position: 0 -10.3rem;
    width: 6rem;
    height: 3rem;

    position: absolute;
    top: 0.5rem;
    left: 0.7rem;
}

.jd-header .jd-header-box .jd-login {
    width: 5rem;
    height: 3.5rem;
    line-height: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}

.jd-header .jd-header-box form {
    width: 100%;
    height: 4rem;
    padding-left: 7.5rem;
    padding-right: 6.5rem;
}

.jd-header .jd-header-box form input {
    width: 100%;
    height: 3rem;
    margin-top: 0.5rem;
    border-radius: 1.5rem;
    padding-left: 4rem;
}

.jd-header .jd-header-box form .icon-search {
    background-position: -12rem 0;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    left: 8.5rem;
}
/* ================================================= 头部(搜索)结束================================================= */






/* ================================================= 轮播图 开始 ================================================= */
.jd-banner {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.jd-banner ul{
    width: 1000%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
}

.jd-banner ul li {
    float: left;
    width: 10%;
}

.jd-banner ul li a img {
    width: 100%;
    display: block;
}

.jd-banner ol {
    width: 12rem;
    height: 1rem;

    position: absolute;
    left: 50%;
    bottom: 0.6rem;
    margin-left: -6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jd-banner ol li {
    width: 0.6rem;
    height: 0.6rem;
    border: 0.1rem solid #fff;
    border-radius: 50%;
}

.jd-banner ol li.current {
    background-color: #fff;
}

/* ================================================= 轮播图 结束 ================================================= */






/* ================================================= 导航 开始 ================================================= */
.jd-nav{
    background-color: #fff;
    padding: 1rem;
}

.jd-nav ul li{
    width: 20%;
    float: left;
    text-align: center;
    margin-bottom: 1rem;
}

.jd-nav ul li img {
    width: 4rem;
    height: 4rem;
}
/* ================================================= 导航 结束 ================================================= */






/* ================================================= 秒杀 开始 ================================================= */
.jd-product {
    margin: 1.5rem 0.8rem 1rem;
}

.jd-product section {
    width: 100%;
    border: 0.1rem solid #e0e0e0;
    background-color: #fff;
    margin-bottom: 1rem;
}

.jd-product section .s-kill-title {
    width: 100%;
    height: 3rem;

    /*伸缩布局*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-kill-left {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.s-kill-left>img {
    width: 7rem;
    height: 2.8rem;
}

.s-kill-left .s-kill-time {
    display: none;
}

.s-kill-left .s-kill-time span {
    background-color: #000000;
    padding: 0 0.3rem;
    color:#fff;
}

.s-kill-left .s-kill-time span:nth-child(3n) {
    color: #000000;
    background-color: transparent;
}

.s-kill-right a {
    padding-right: 2rem;
    color: #e9232c;
    position: relative;
}

.s-kill-right a::after {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background: url("../images/arrow_rt.png") no-repeat;
    -webkit-background-size: 1.2rem 1.2rem;
    background-size: 1.2rem 1.2rem;
    position: absolute;
    top: -0.1rem;
    right: 0.6rem;
}

/*============== 秒杀的商品 开始 =================*/
.s-kill-con ul {
    display: flex;
    padding: 1rem;
    /*justify-content: space-around;*/
    align-items: center;
}

.s-kill-con ul li {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s-kill-con ul li img {
    width: 8rem;
}

.s-kill-con ul li a {
    text-align: center;
    display: inline-block;
    width: 90%;
    border-right: 0.1rem solid #e0e0e0;
}

.s-kill-con ul li:last-child a {
    border-right: none;
}
.s-kill-con ul .now-price {
    color: #e9232c;
}

.s-kill-con ul .old-price {
    color: #e0e0e0;
    text-decoration: line-through;
    font-size: 1.4rem;
}
/*============== 秒杀的商品 结束 =================*/
/* ================================================= 秒杀 结束 ================================================= */





/* ================================================= 京东乐购/京东超市/爱生活 开始 ================================================= */

.jd-product section .product_title {
    border-bottom: 0.1rem solid #e0e0e0;
    height: 3rem;
    line-height: 3rem;
}

.jd-product section .product_title h3{
    font-size: 1.5rem;
    color: red;
    font-weight: normal;
    position: relative;
    padding-left: 13px;
}

.jd-product section .product_title h3::before{
    content: '';
    width: 4px;
    height: 20px;
    background-color: #E9232C;
    position: absolute;
    left: 5px;
    top: 6px;
}

/*产品统一样式*/
.pull_left{
    float: left;
}

.pull_right{
    float: right;
}

.w_50{
    width: 50%;
}

.w_50 img{
    display: block;
    width: 100%;
}

.b_right{
    border-right: 0.1rem solid #e0e0e0;
}

.b_left{
    border-left: 0.1rem solid #e0e0e0;
}

.b_bottom{
    border-bottom: 0.1rem solid #e0e0e0;
}

/* ======================================== 京东乐购/京东超市/爱生活 结束 ============================================= */



/* ================================================= 为您推荐 开始 ================================================= */
/*=============== title 开始 ===============*/
.jd-intro {
    margin-bottom: 6rem;
}

.jd-intro .intro-title {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    position: relative;
}

.jd-intro .intro-title span {
    background-color: #f5f5f5;
    padding: 0.3rem 2rem;
}

.jd-intro .intro-title span::before {
    content: '';
    width: 90%;
    height: 0.1rem;
    background-color: #e0e0e0;
    position: absolute;
    left: 5%;
    top: 50%;
    z-index: -1;
}


/*=============== title 结束 ===============*/

/*=============== content 开始 ===============*/
.jd-intro .intro-con ul li {
    background-color: #fff;
    float: left;
    width: 49%;
    margin-bottom: 1rem;
    padding: 1rem;
}

.jd-intro .intro-con ul li:nth-child(2n) {
    float: right;
}

.jd-intro .intro-con ul li p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
.jd-intro .intro-con ul li img {
    width: 80%;
}

.jd-intro .intro-con ul li>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jd-intro .intro-con ul li>div button {
    border: none;
    background-color: purple;
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
}
/*=============== content 结束 ===============*/
/* ================================================= 为您推荐 结束 ================================================= */







/* ================================================= tab选项卡 开始 ================================================= */
.jd-footer {
    width: 100%;
    height: 5.4rem;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 0.1rem solid #e0e0e0;
}

.jd-footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.jd-footer ul li a img {
    width: 7rem;
}

/* ================================================= tab选项卡 结束 ================================================= */
